{% extends 'main.html' %}
{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Регистрация</li>
        </ol>
        <div class="row">
            <!-- Article main content -->
            <article class="col-xs-12 maincontent">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="thin text-center">Регистрация нового аккаунта</h3>
                            <p class="text-center text-muted">Если Вы уже зарегестрированны,  <a href="/auth/login/">Вход</a> </p>
                            <hr>

                            <form action="/auth/register/" method="post" class="form-horizontal" role="form" >
                                {% csrf_token %}
                                {{ form }}
                                <hr>
                                <div class="row">
                                    <div class="col-lg-4 text-center">
                                        <button class="btn btn-action" type="submit">Зарегистрировать</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
{% endblock %}